.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;

    width: 100vw;
    background: #fcc707;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.navbarLogo {
    width: 120px;
    padding: 15px;
}

.git,
.lin {
    color: #485563;
    transition: all ease-in-out 150ms;
}

.git:hover,
.lin:hover {
    color: #29323c;
}

.lin {
    margin-right: 23px;
}

.git {
    margin-right: 15px;
}